<html>
  <head>
    <title>Cashflow</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/d3.v3.js"></script>
    <script type="text/javascript" src="/js/cashflow.js"></script>

    <link type="text/css" rel="stylesheet" href="/css/jquery.dataTables.css"/>
    <link type="text/css" rel="stylesheet" href="/css/cashflow.css"/>
  </head>
  <body>
  <script type="text/javascript" src="/js/balance.js"></script>
  <div id="balance">

    </div>
  </body>
</html>